//color variables
$primaryColor: #555555;
$secondaryColor: #2e7a8d;
$lightColor: #fff;
$accentColor1: #55ddff;
$accentColor2: #fff565;
$correctTextColor: #0e630e;
$correctShadingColor: #e7fbd3;
$wrongTextColor: #ff0000;
$wrongShadingColor: #ffc0cb;

// font variables
$primaryFont: "Roboto", sans-serif;
$secondaryFont: monospace;
